In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [8]:
address = "Data Set/Northwind.xls"
excel_file = pd.ExcelFile(address)
excel_file.sheet_names

['Categories',
 'Customers',
 'Employees',
 'Orders Details',
 'Orders',
 'Product',
 'Shippers',
 'Suppliers']

In [12]:
data_frame = excel_file.parse("Product")
#head() returns top 5
data_frame.head()

#data_frame

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,False
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,False
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,False
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,False
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,True

In [16]:
grouped_df = data_frame.groupby(data_frame['SupplierID'])
grouped_df.mean()

,ProductID,CategoryID,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
SupplierID,,,,,,,
1,2.000000,1.333333,15.666667,23.000000,36.666667,20.000000,0.000000
2,35.000000,2.000000,20.350000,33.250000,25.000000,5.000000,0.250000
3,7.000000,3.666667,31.666667,47.000000,0.000000,11.666667,0.000000
4,31.000000,7.000000,46.000000,21.333333,6.666667,1.666667,0.333333
5,11.500000,4.000000,29.500000,54.000000,15.000000,15.000000,0.000000
6,14.000000,5.666667,14.916667,32.666667,0.000000,3.333333,0.000000
7,36.800000,4.000000,35.570000,22.000000,2.000000,9.000000,0.200000
8,32.000000,3.000000,28.175000,18.500000,12.500000,6.250000,0.000000
9,22.500000,5.000000,15.000000,82.500000,0.000000,25.000000,0.000000
10,24.000000,1.000000,4.500000,20.000000,0.000000,0.000000,1.000000
11,26.000000,3.000000,29.710000,46.666667,0.000000,20.000000,0.000000
12,54.600000,4.200000,44.678000,41.000000,16.000000,14.000000,0.400000
13,30.000000,8.000000,25.890000,10.000000,0.000000,15.000000,0.000000
14,45.000000,4.000000,26.433333,7.666667,36.666667,15.000000,0.000000
15,57.666667,4.000000,20.000000,54.666667,0.000000,11.666667,0.000000
16,45.333333,1.000000,15.333333,61.000000,0.000000,13.333333,0.000000
17,48.666667,8.000000,20.000000,74.666667,16.666667,16.666667,0.000000
18,38.500000,1.000000,140.750000,43.000000,0.000000,10.000000,0.000000
19,40.500000,8.000000,14.025000,104.000000,0.000000,20.000000,0.000000
20,43.000000,2.666667,26.483333,23.333333,3.333333,13.333333,0.333333
21,45.500000,8.000000,10.750000,50.000000,35.000000,7.500000,0.000000
22,47.500000,3.000000,11.125000,25.500000,35.000000,12.500000,0.000000
23,58.333333,2.333333,18.083333,44.000000,20.000000,21.666667,0.000000
24,52.000000,6.000000,30.933333,19.333333,0.000000,11.666667,0.333333
25,54.500000,6.000000,15.725000,68.000000,0.000000,15.000000,0.000000
26,56.500000,5.000000,28.750000,28.500000,5.000000,25.000000,0.000000
27,58.000000,8.000000,13.250000,62.000000,0.000000,20.000000,0.000000
28,59.500000,4.000000,44.500000,49.000000,0.000000,0.000000,0.000000
29,61.500000,2.500000,38.900000,65.000000,0.000000,12.500000,0.000000